# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# PHP
vendor/
.env

# Node / Tailwind
node_modules/
dist/
.cache/

# IDE / OS
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
